.footer {
  background: #1b1a20;
  border-top: 1px solid #2d2e36;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 20px;
  margin: 0 auto 10px auto;
  max-width: 896px;

  p {
    color: #bdbdc6;
    text-align: center;
    font-size: 12px;
  }
}
