.default_layout {
  background: #1b1a20;
  margin: 16px auto 0 auto;
  padding: 16px;
  border: 1px solid #1b1a20;
  max-width: 896px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
}
