.header_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 16px;
  border-bottom: 1px solid #2d2e36;
  color: #eeeeee;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
