.no_contacts_found {
  display: block;
  text-align: center;
  color: #ddd;
  padding: 20px;
  background: var(--ternaryColor);
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;

  p {
    font-size: 12px;
    font-weight: 400;

    span {
      font-weight: bold;
    }
  }
}
