.header {
  padding: 100px 16px;
  color: #eeeeee;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }

  p {
    font-size: 13px;
    margin-bottom: 50px;
    line-height: 20px;
  }
}
